/*body {
    background: url(pic.jpg);
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}*/

.topnav {
    background-color: black;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: cornflowerblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

